.navbar {
    display: flex;
    justify-content: flex-end; /* since logo removed, align links to right */
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    padding: 0.25rem 0.5rem; /* further reduced padding for slimmer navbar */
    color: rgb(27, 216, 216);
  }
  
  .nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
  }
  
  .nav-links a {
    text-decoration: none;
    color: rgb(235, 242, 246);
    font-weight: bold;
  }
  